<%= form_for @village do |f| %>

  <p>
    <%= f.label :population %>
    <%= f.text_field :population %>
  </p>

  <p>
    <%= f.label :note %>
    <%= f.text_area :note %>
  </p>

  <%= f.submit "Save" %>
<% end %>
